.container {
    margin-top: 20px;
}

.page-title {
    margin-bottom: 20px;
}

.book-detail-table {
    table-layout: fixed;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}
